@model IEnumerable<DommunAdmin.Models.BlobStorage>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@



<h2 class="text-uppercase text-center">List of blob files</h2>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-circle-plus"></i> Upload New File
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-controller="BlobStorage" asp-action="Upload">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Blob Storage File Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Select File </label>
                                <input class="form-control" name="files" multiple="multiple" type="file" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>FileName</th>
            <th>FileSize</th>
            <th>Modified</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.FileName</td>
                <td>@data.FileSize</td>
                <td>@data.Modified</td>
                <td> <a href="/BlobStorage/Delete?blobName=@data.FileName" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>