@model DommunAdmin.Models.PropiedadDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Propiedad</h5>
            </div>
            <div class="card-body">
                <dl class="row">                   
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.tipoOferta.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.tipoOferta.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.tipoPropiedad.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.tipoPropiedad.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.valorVenta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.valorVenta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.valorArriendo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.valorArriendo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.incluyeAdministracion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.incluyeAdministracion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.valorAdministracion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.valorAdministracion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.valorMetro)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.valorMetro)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ciudad.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ciudad.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.direccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.direccion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.barrio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.barrio)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.localizacion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.localizacion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.estratoId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.estratoId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.areaPrivada)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.areaPrivada)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.areaConstruida)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.areaConstruida)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.numeroPiso)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.numeroPiso)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.areaFondo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.areaFondo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.tiempoConstruido.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.tiempoConstruido.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.numeroHabitacion.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.numeroHabitacion.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.numeroBano.FullName )
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.numeroBano.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.numeroParqueadero.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.numeroParqueadero.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.tipoParqueadero.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.tipoParqueadero.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.caracteristicaParqueadero.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.caracteristicaParqueadero.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.caracteristicas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.caracteristicas)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.video)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.video)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.descripcion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.anioConstruccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.anioConstruccion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.estadoPropiedad.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.estadoPropiedad.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.agente.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.agente.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.isActive)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.isActive)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-success">Editar</a>
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</div>

