@model IEnumerable<DommunAdmin.Models.PropiedadDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.tipoPropiedadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoPropiedadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.agenteId)
            </th>      
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.tipoPropiedadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoPropiedadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agenteId)
            </td>     
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
